/** global classes styling and variables definitions **/
@mixin easeOut { transition: all 0.5s ease-out; }

:root {
  --black: #000000;
  --white: #ffffff;  
  --yellow: #ffe32d;
  --yellow-l-25: #fff4ac;
  --border-dark: #242424; 
  --border-radius: 0.25rem;
  --icon-size: 1rem;
  --icon-fill: var(--text-inverted);
  --icon-fill-hover: var(--text-primary);
}

html, body {
  font-weight: 400 !important;
  font-style: normal;
  font-size: 1rem;
  min-width: 18.125rem; /* 290px */
  line-height: 1.5;
  font-family: "Varela Round", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button, button {
  appearance: none;
  background: none;
  border: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** data-theme="light" styling and variables definitions **/
[data-theme="light"] {
  --bg-primary: #fff;
  --bg-inverted: #000;
  --bg-box: #eceef0;
  --bg-box-header: #f6f8fa;
  --text-primary: #000;
  --text-inverted: #fff;
  --text-gray: #4d4d4d;
  --border-light: #dee1e5;
  --box-shadow: 0 .625rem 3.125rem .625rem rgba(0, 0, 0, .25); 
  .logo {
    background: url("../img/svgs/logo-dark.svg") no-repeat center/contain;
  }
  code {
    color: var(--text-primary) !important;
  }
  footer {
    p {
      background-color: var(--bg-inverted);
    }
    a {
      &:hover {
        color: var(--text-inverted) !important;
      }
    }
  }
}

/** data-theme="dark" styling and variables definitions **/
[data-theme="dark"] {
  --bg-primary: #121317;
  --bg-inverted: #fff;
  --bg-box: #1e1f26;
  --bg-box-header: #2e303a;
  --text-primary: #fff; 
  --text-inverted: #000;  
  --text-gray: #878c99;
  --border-light: #3b3e45;
  --box-shadow: 0 .625rem 3.125rem .625rem rgba(255, 255, 255, .25);
  .logo {
    background: url("../img/svgs/logo.svg") no-repeat center/contain;
  }
  .sun-and-moon {
    & > .sun {
      transform: scale(1.75);
      &:hover {
        fill: var(--yellow);
      }
    }
    & > .sun-beams {
      opacity: 0;
    }
    & > .moon > circle {
      transform: translateX(-.4375rem); /* 7px */
    }
  }
  .box {
    code {
      color: var(--yellow-l-25) !important;
    }
  }
  article {
    a {
      background-color: var(--bg-box);
      &:hover {
        color: var(--text-primary);
      }
    }
  }
  footer {
    p {
      background-color: var(--bg-box);
    }
    a {
      &:hover {
        color: var(--text-primary) !important;
      }
    }
  }
}

/** navbar styling **/
#navbar {
  min-width: 18.125rem; /* 290px */
  position: fixed;
  top: 0;
  left: 0;
  width: 18.75rem; /* 300px */
  height: 100%;
  border-right: 1px solid var(--border-light);
  background-color: var(--bg-primary);
  z-index: 1;
  overflow-x: hidden;
  font-size: .625rem; /* 10px */
  ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    background-color: var(--bg-primary);
    li {
      list-style: none;
      border-top: 1px solid var(--border-light);
      a {
        font-size: 1rem; /* 16px */
        color: var(--text-gray);
        padding: .75rem 0 .75rem .9375rem; /* 12px 0 12px 15px*/;
        &:hover {
          color: var(--text-primary);
        }
      }
      &:last-child {
        border-bottom: 1px solid var(--border-light);
      }
    }
  }
  #main-title {
    font-size: 1.25rem; /* 20px */
    padding: .625rem 0 .625rem .9375rem; /* 10px 0 10px 15px */
    background-color: var(--bg-primary);
    .logo {
      width: 1.5rem;
    }
    .text-next-to-logo {
      color: var(--text-primary);
      font-size: 1.5625rem; /* 25px */
      margin-top: 3px;
      margin-left: .5rem;
      margin-right: .5rem;
      margin-bottom: 0;
    }
  }
}

/** .scrollToTop button styling **/
.scrollToTop {
  cursor: pointer;
  position: fixed;
  bottom: 50rem; /* 800px */
  right: 1.25rem; /* 20px */
  z-index: 100000;
  border: 3px solid var(--black);
  background: var(--yellow);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  &.active { 
    visibility: visible; 
    opacity: 1; 
    bottom: 25%; 
  }
  transform: translateY(30%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: var(--box-shadow);
  @include easeOut;
  &:hover { 
    background: var(--white);
  }
  #home-btn {
    width: 2rem;
    height: 2rem;
    &::before { 
      color: var(--text-primary); 
      font-size: 3rem; 
    }
  }
}

/** #main-doc styling **/
#main-doc {
  position: absolute;
  margin-left: 18.75rem; /* 300px */
  font-size: 1rem; /* 16px */
  padding: 1.25rem 1.875rem 0; /* 20px 30px 0 */
  background-color: var(--bg-primary);
  color: var(--text-gray);
  h2 {
    padding: 1.5rem; /* 24px */
    font-size: 1.6875rem; /* 27px */
    &:hover {
      color: var(--text-primary);
    }
  }
  footer {
    height: 4.0625rem; /* 65px */
    border-top: 1px solid var(--border-light);
    background-color: var(--bg-primary);
    p, a {
      color: var(--yellow);
    }
  }
}

/** .theme-toggle button styling, transitions and animations **/
.theme-toggle {
  margin-left: auto;
  margin-right: .5rem;
  margin-bottom: 3px;
  .sun-and-moon {
    & > :is(.moon, .sun, .sun-beams) {
      transform-origin: center;
    }
    & > :is(.moon, .sun) {
      fill: var(--yellow);
    }
    & > .sun-beams {
      stroke: var(--yellow);
      stroke-width: 2px;
    }
  }
  &:is(:hover, :focus-visible) {
    & > .sun-and-moon > :is(.moon, .sun) {
      fill: var(--icon-fill-hover);
    }
    .sun-and-moon > .sun-beams {
      stroke: var(--icon-fill-hover);
    }
  }
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon {
    & > .sun {
      transition: transform .5s var(--ease-elastic-3);
    }
    & > .sun-beams {
      transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
    }
    .moon > circle {
      transition: transform .25s var(--ease-out-5);
    }
  }
  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }
  [data-theme="dark"] {
    .sun-and-moon {
      & > .sun {
        transition-timing-function: var(--ease-3);
        transition-duration: .25s;
        transform: scale(1.75);
        fill: var(--white);
        &:hover {
          fill: var(--yellow);
        }
      }
      & > .sun-beams {
        transition-duration: .15s;
        transform: rotateZ(-25deg);
      }
      .moon > circle {
        transition-duration: .5s;
        transition-delay: .25s;
      }
    }
  }
}

/** articles styling **/
article {
  a {
    color: var(--yellow);
    padding: .25rem;
    background-color: var(--bg-inverted);
    &:hover {
      color: var(--text-inverted);
    }
  }
  p, li {
    color: var(--text-gray);
    margin-left: 1.5625rem; /* 25px */
  }
}

/** .box.code-example styling **/
.box {
  font-family: monospace;
  background-color: var(--bg-box);
  border: 1px solid var(--border-light);
  margin-left: 1.5rem; /* 24px */
  font-size: .875rem; /* 14px */
  padding: 0 0 .375rem 0; /* 0 0 6px 0 */
  color: var(--text-primary);
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  tab-size: 4;
  z-index: 1;
  p {
    line-height: 1;
    margin-bottom: .5rem;
    margin-top: .75rem;
    color: var(--yellow-l-25);
  }
  .example-header {
    align-items: baseline;
    background-color: var(--bg-box-header);
    border-bottom: 1px solid var(--border-light);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: .25rem 1rem;
    .language-name {
      margin-right: auto;
      text-transform: uppercase;
    }
  }
  .icon {
    --size: var(--icon-size, 1rem);
    background-color: var(--text-primary);
    display: inline-block;
    flex-shrink: 0;
    height: var(--size);
    mask-position: center;
    mask-repeat: no-repeat;
    vertical-align: middle;
    width: var(--size);
    &.copy-icon {
      align-self: center;
      cursor: pointer;
      margin-top: -0.1rem;
      mask-image: url("../img/svgs/copy-icon.svg");
      padding: 0;
      background-color: var(--text-primary);
      height: 1rem;
      mask-size: cover;
      width: 1rem;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  pre {
    margin-bottom: 0;
    white-space: nowrap;
  }
  code {
    display: block;
    margin-left: .9375rem; /* 15px */
    margin-top: .75rem;
    margin-bottom: .5rem;
  }
}

/** media queries for responsive design **/
@media only screen and (max-width: 815px) {
  p, li {
    margin-left: 0 !important;
  }
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 17.1875rem; /* 275px */
    border: none;
    z-index: 1;
    #main-title {
      padding: .625rem .625rem .625rem 1.5625rem; /* 10px 10px 10px 25px */
    }
    ul {
      border-bottom: 2px solid var(--border-light);
      height: 12.9375rem; /* 207px */
      li {
        a {
          padding: .75rem 0 .75rem 1.5625rem; /* 12px 0 12px 25px */
        }
          &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  #main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 16.875rem; /* 270px */
    padding-left: 1.5625rem; /* 25px */
    padding-right: 1.5625rem; /* 25px */
    overflow-x: hidden;
    h2 {
      padding: 1.5rem 0;
    }
    .code-example {
      margin-left: 0;
    }
  }
}